{
  "openapi": "3.1.0",
  "info": {
    "title": "epydemix WebAPI",
    "description": "REST API for running epidemic simulations with epydemix",
    "version": "0.2.2"
  },
  "servers": [
    {
      "url": "https://epyscenario-api.isi.it",
      "description": "Production"
    },
    {
      "url": "http://localhost:8000",
      "description": "Local"
    }
  ],
  "paths": {
    "/api/v1/simulations": {
      "post": {
        "tags": [
          "Simulations"
        ],
        "summary": "Run epidemic simulation",
        "description": "Execute an epidemic simulation with the specified configuration.",
        "operationId": "create_simulation_api_v1_simulations_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimulationRequest"
              },
              "examples": {
                "SIR": {
                  "summary": "Basic SIR simulation",
                  "description": "Run a Susceptible-Infected-Recovered model on the US population over two months.",
                  "value": {
                    "model": {
                      "preset": "SIR",
                      "parameters": {
                        "transmission_rate": 0.3,
                        "recovery_rate": 0.1
                      }
                    },
                    "population": {
                      "name": "United_States"
                    },
                    "simulation": {
                      "start_date": "2024-01-01",
                      "end_date": "2024-03-01",
                      "Nsim": 10
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimulationResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/populations": {
      "get": {
        "tags": [
          "Populations"
        ],
        "summary": "List available populations",
        "description": "Get a list of all available populations that can be used in simulations.",
        "operationId": "get_populations_api_v1_populations_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PopulationListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/populations/cache": {
      "get": {
        "tags": [
          "Populations"
        ],
        "summary": "Get population cache status",
        "description": "Get information about the population cache.",
        "operationId": "get_cache_status_api_v1_populations_cache_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CacheInfoResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/populations/{name}": {
      "get": {
        "tags": [
          "Populations"
        ],
        "summary": "Get population details",
        "description": "Get detailed information about a specific population.",
        "operationId": "get_population_api_v1_populations__name__get",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Name"
            }
          },
          {
            "name": "contacts_source",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Contact matrix source (prem_2017, prem_2021, or mistry_2021)",
              "title": "Contacts Source"
            },
            "description": "Contact matrix source (prem_2017, prem_2021, or mistry_2021)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PopulationDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/populations/{name}/contacts": {
      "get": {
        "tags": [
          "Populations"
        ],
        "summary": "Get contact matrices",
        "description": "Get contact matrices for a specific population.",
        "operationId": "get_contact_matrices_api_v1_populations__name__contacts_get",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Name"
            }
          },
          {
            "name": "contacts_source",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Contact matrix source (prem_2017, prem_2021, or mistry_2021)",
              "title": "Contacts Source"
            },
            "description": "Contact matrix source (prem_2017, prem_2021, or mistry_2021)"
          },
          {
            "name": "layers",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Contact layers to include (e.g., home, work, school, community)",
              "title": "Layers"
            },
            "description": "Contact layers to include (e.g., home, work, school, community)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactMatrixResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/models/presets": {
      "get": {
        "tags": [
          "Model Presets"
        ],
        "summary": "List model presets",
        "description": "Get information about available predefined epidemic models.",
        "operationId": "get_presets_api_v1_models_presets_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PresetsListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/health": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Health Check",
        "description": "Check API health status.\n\nReturns the API version and epydemix library version to verify\nthe service is running correctly.\n\nReturns\n-------\nHealthResponse\n    Health status including API and epydemix versions.",
        "operationId": "health_check_api_v1_health_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CacheInfoResponse": {
        "properties": {
          "hits": {
            "type": "integer",
            "title": "Hits",
            "description": "Number of cache hits.",
            "examples": [
              42
            ]
          },
          "misses": {
            "type": "integer",
            "title": "Misses",
            "description": "Number of cache misses.",
            "examples": [
              8
            ]
          },
          "maxsize": {
            "type": "integer",
            "title": "Maxsize",
            "description": "Maximum cache size.",
            "examples": [
              50
            ]
          },
          "currsize": {
            "type": "integer",
            "title": "Currsize",
            "description": "Current number of cached items.",
            "examples": [
              10
            ]
          },
          "cached_populations": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Cached Populations",
            "description": "Names of populations currently in cache.",
            "examples": [
              [
                "United_States",
                "Italy",
                "Germany"
              ]
            ]
          }
        },
        "type": "object",
        "required": [
          "hits",
          "misses",
          "maxsize",
          "currsize",
          "cached_populations"
        ],
        "title": "CacheInfoResponse",
        "description": "Cache information response schema."
      },
      "CompartmentResults": {
        "properties": {
          "dates": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Dates",
            "description": "Dates corresponding to values.",
            "examples": [
              [
                "2024-01-01",
                "2024-01-02",
                "2024-01-03"
              ]
            ]
          },
          "data": {
            "additionalProperties": {
              "additionalProperties": {
                "additionalProperties": {
                  "items": {
                    "type": "number"
                  },
                  "type": "array"
                },
                "type": "object"
              },
              "type": "object"
            },
            "type": "object",
            "title": "Data",
            "description": "Nested structure: `compartment -> age_group -> quantile -> [values]`.",
            "examples": [
              {
                "Infected": {
                  "total": {
                    "0.025": [
                      621344.45,
                      3041835.25,
                      5800000.0
                    ],
                    "0.5": [
                      621391.0,
                      3043170.0,
                      5812500.0
                    ],
                    "0.975": [
                      621437.55,
                      3044504.75,
                      5825000.0
                    ]
                  }
                },
                "Susceptible": {
                  "total": {
                    "0.025": [
                      337330089.45,
                      334285584.7,
                      331100000.2
                    ],
                    "0.5": [
                      337330136.0,
                      334286966.0,
                      331103421.0
                    ],
                    "0.975": [
                      337330182.55,
                      334288347.3,
                      331106841.8
                    ]
                  }
                }
              }
            ]
          }
        },
        "type": "object",
        "required": [
          "dates",
          "data"
        ],
        "title": "CompartmentResults",
        "description": "Compartment trajectory quantiles."
      },
      "ContactMatrixResponse": {
        "properties": {
          "population_name": {
            "type": "string",
            "title": "Population Name",
            "description": "Population identifier.",
            "examples": [
              "United_States"
            ]
          },
          "contact_source": {
            "type": "string",
            "title": "Contact Source",
            "description": "Contact matrix source used.",
            "examples": [
              "mistry_2021"
            ]
          },
          "layers": {
            "additionalProperties": {
              "items": {
                "items": {
                  "type": "number"
                },
                "type": "array"
              },
              "type": "array"
            },
            "type": "object",
            "title": "Layers",
            "description": "Contact matrices by layer name. Each matrix is square with one row/column per age group.",
            "examples": [
              {
                "community": [
                  [
                    0.61,
                    0.88,
                    0.42
                  ],
                  [
                    0.94,
                    1.56,
                    0.67
                  ],
                  [
                    0.51,
                    0.72,
                    0.83
                  ]
                ],
                "home": [
                  [
                    1.24,
                    0.87,
                    0.15
                  ],
                  [
                    0.91,
                    2.03,
                    0.34
                  ],
                  [
                    0.19,
                    0.42,
                    1.77
                  ]
                ],
                "school": [
                  [
                    0.0,
                    0.0,
                    0.0
                  ],
                  [
                    0.0,
                    5.42,
                    0.0
                  ],
                  [
                    0.0,
                    0.0,
                    0.0
                  ]
                ],
                "work": [
                  [
                    0.08,
                    0.41,
                    0.02
                  ],
                  [
                    0.54,
                    2.11,
                    0.17
                  ],
                  [
                    0.03,
                    0.23,
                    0.05
                  ]
                ]
              }
            ]
          },
          "overall": {
            "anyOf": [
              {
                "items": {
                  "items": {
                    "type": "number"
                  },
                  "type": "array"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Overall",
            "description": "Combined contact matrix across all layers.",
            "examples": [
              [
                [
                  1.93,
                  2.16,
                  0.59
                ],
                [
                  2.39,
                  11.12,
                  1.18
                ],
                [
                  0.73,
                  1.37,
                  2.65
                ]
              ]
            ]
          },
          "age_groups": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Age Groups",
            "description": "Age group labels for matrix indices (same order as rows and columns).",
            "examples": [
              [
                "0-19",
                "20-64",
                "65+"
              ]
            ]
          },
          "spectral_radius": {
            "additionalProperties": {
              "type": "number"
            },
            "type": "object",
            "title": "Spectral Radius",
            "description": "Spectral radius (largest eigenvalue) for each layer and overall.",
            "examples": [
              {
                "community": 2.64,
                "home": 2.41,
                "overall": 12.34,
                "school": 5.42,
                "work": 2.28
              }
            ]
          }
        },
        "type": "object",
        "required": [
          "population_name",
          "contact_source",
          "layers",
          "age_groups"
        ],
        "title": "ContactMatrixResponse",
        "description": "Response containing contact matrices for a population."
      },
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "HealthResponse": {
        "properties": {
          "status": {
            "type": "string",
            "title": "Status",
            "description": "Health status.",
            "examples": [
              "healthy"
            ]
          },
          "version": {
            "type": "string",
            "title": "Version",
            "description": "API version string.",
            "examples": [
              "0.2.2"
            ]
          },
          "epydemix_version": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Epydemix Version",
            "description": "Version of the epydemix library, or None if not available.",
            "examples": [
              "0.3.4"
            ]
          }
        },
        "type": "object",
        "required": [
          "status",
          "version"
        ],
        "title": "HealthResponse",
        "description": "Health check response schema."
      },
      "InitialConditionsConfig": {
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "percentage",
              "absolute"
            ],
            "title": "Method",
            "description": "Method: `percentage` or `absolute`.",
            "default": "percentage"
          },
          "initial_percentages": {
            "anyOf": [
              {
                "additionalProperties": {
                  "type": "number"
                },
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Initial Percentages",
            "description": "Percentage of population in each compartment. Remainder goes to the first compartment.\nExample: `{\"I\": 0.01, \"R\": 10.0}`."
          },
          "compartments": {
            "anyOf": [
              {
                "additionalProperties": {
                  "items": {
                    "type": "number"
                  },
                  "type": "array"
                },
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Compartments",
            "description": "Absolute counts per compartment per age group. Required when method is `absolute`."
          }
        },
        "type": "object",
        "title": "InitialConditionsConfig",
        "description": "Initial conditions for compartments."
      },
      "InterventionConfig": {
        "properties": {
          "layer_name": {
            "type": "string",
            "title": "Layer Name",
            "description": "Contact layer to modify, e.g. `school`, `work`."
          },
          "start_date": {
            "type": "string",
            "title": "Start Date",
            "description": "Start date in `YYYY-MM-DD` format."
          },
          "end_date": {
            "type": "string",
            "title": "End Date",
            "description": "End date in `YYYY-MM-DD` format."
          },
          "reduction_factor": {
            "type": "number",
            "maximum": 1.0,
            "minimum": 0.0,
            "title": "Reduction Factor",
            "description": "Multiplier for contacts. `0.2` = reduce to 20% of normal."
          },
          "name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Name",
            "description": "Optional name for this intervention."
          }
        },
        "type": "object",
        "required": [
          "layer_name",
          "start_date",
          "end_date",
          "reduction_factor"
        ],
        "title": "InterventionConfig",
        "description": "A contact reduction intervention applied to a specific layer during a time period."
      },
      "ModelConfig": {
        "properties": {
          "preset": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "SIR",
                  "SEIR",
                  "SIS"
                ]
              },
              {
                "type": "null"
              }
            ],
            "title": "Preset",
            "description": "Predefined model preset. Auto-configures compartments and transitions.\n- `SIR`: Susceptible-Infected-Recovered\n- `SEIR`: Susceptible-Exposed-Infected-Recovered\n- `SIS`: Susceptible-Infected-Susceptible\nWhen using a preset, you can still override default parameter values via `parameters`."
          },
          "compartments": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Compartments",
            "description": "List of compartment names for a custom model. Required if no preset.\nExample: `[\"S\", \"E\", \"I\", \"R\", \"H\"]`."
          },
          "parameters": {
            "additionalProperties": {
              "type": "number"
            },
            "type": "object",
            "title": "Parameters",
            "description": "Model parameters as key-value pairs. Each key is a parameter name referenced by transitions, and the value is its rate.\nFor presets, these override the default values. For custom models, all parameters used in transitions must be defined here.\nExample: `{\"transmission_rate\": 0.3, \"recovery_rate\": 0.1}`."
          },
          "transitions": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/TransitionConfig"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Transitions",
            "description": "List of transitions between compartments. Required if no preset.\nEach transition defines how individuals move from one compartment to another."
          }
        },
        "type": "object",
        "title": "ModelConfig",
        "description": "Epidemic model configuration. Use `preset` for a built-in model (SIR, SEIR, SIS), or provide `compartments`, `parameters`, and `transitions` for a custom model."
      },
      "ModelMetadata": {
        "properties": {
          "preset": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Preset",
            "description": "Preset name if a preset was used.",
            "examples": [
              "SIR"
            ]
          },
          "compartments": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Compartments",
            "description": "Compartment names in the model.",
            "examples": [
              [
                "Susceptible",
                "Infected",
                "Recovered"
              ]
            ]
          }
        },
        "type": "object",
        "required": [
          "compartments"
        ],
        "title": "ModelMetadata",
        "description": "Model section of simulation metadata. Mirrors the `model` section of the request."
      },
      "OutputConfig": {
        "properties": {
          "quantiles": {
            "anyOf": [
              {
                "items": {
                  "type": "number"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Quantiles",
            "description": "Quantiles to compute for trajectories and summary. Default: `[0.025, 0.05, 0.25, 0.5, 0.75, 0.95, 0.975]`."
          },
          "include_trajectories": {
            "type": "boolean",
            "title": "Include Trajectories",
            "description": "Include raw per-run trajectory data in the response. Can be large.",
            "default": false
          },
          "compartments": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Compartments",
            "description": "Compartments to include in the trajectory section. Default: all. Does not affect `summary`."
          },
          "transitions": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Transitions",
            "description": "Transitions to include in the trajectory section. Default: all. Does not affect `summary`."
          },
          "age_groups": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Age Groups",
            "description": "Age groups to include in both trajectories and summary, e.g. `[\"0-4\", \"5-19\", \"total\"]`. Default: all age groups plus `total`."
          },
          "summary": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/SummaryConfig"
              },
              {
                "type": "null"
              }
            ],
            "description": "Summary statistics configuration. Omit to return the default summary."
          }
        },
        "type": "object",
        "title": "OutputConfig",
        "description": "Output configuration. Everything is optional; defaults return all compartments, all transitions, all age groups (including `total`), all standard quantiles, and a populated `summary`."
      },
      "ParameterOverrideConfig": {
        "properties": {
          "parameter_name": {
            "type": "string",
            "title": "Parameter Name",
            "description": "Parameter to override."
          },
          "start_date": {
            "type": "string",
            "title": "Start Date",
            "description": "Start date in `YYYY-MM-DD` format."
          },
          "end_date": {
            "type": "string",
            "title": "End Date",
            "description": "End date in `YYYY-MM-DD` format."
          },
          "value": {
            "type": "number",
            "title": "Value",
            "description": "Parameter value during this period."
          }
        },
        "type": "object",
        "required": [
          "parameter_name",
          "start_date",
          "end_date",
          "value"
        ],
        "title": "ParameterOverrideConfig",
        "description": "Override a model parameter during a time period."
      },
      "PeakStatistic": {
        "properties": {
          "quantiles": {
            "additionalProperties": {
              "type": "number"
            },
            "type": "object",
            "title": "Quantiles",
            "description": "Peak value per quantile, e.g. `{\"0.025\": ..., \"0.5\": ..., \"0.975\": ...}`.",
            "examples": [
              {
                "0.025": 12200000.0,
                "0.5": 12400000.0,
                "0.975": 12600000.0
              }
            ]
          },
          "peak_date": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Peak Date",
            "description": "Date of the peak from the median trajectory.",
            "examples": [
              "2024-02-14"
            ]
          }
        },
        "type": "object",
        "required": [
          "quantiles"
        ],
        "title": "PeakStatistic",
        "description": "Peak statistic for a compartment in one age group."
      },
      "PopulationConfig": {
        "properties": {
          "name": {
            "type": "string",
            "title": "Name",
            "description": "Population name, e.g. `United_States`."
          },
          "contacts_source": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Contacts Source",
            "description": "Contact matrix source.\nOptions: `prem_2017`, `prem_2021`, `mistry_2021`."
          },
          "layers": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Layers",
            "description": "Contact layers to include.\nOptions: `home`, `work`, `school`, `community`."
          },
          "age_group_mapping": {
            "anyOf": [
              {
                "additionalProperties": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Age Group Mapping",
            "description": "Custom age group aggregation. Keys are new group names, values are lists of source age groups to merge.\nExample: `{\"0-19\": [\"0-4\", \"5-9\", \"10-14\", \"15-19\"], \"65+\": [\"65-69\", \"70-74\", \"75+\"]}`."
          }
        },
        "type": "object",
        "required": [
          "name"
        ],
        "title": "PopulationConfig",
        "description": "Population configuration."
      },
      "PopulationDetail": {
        "properties": {
          "name": {
            "type": "string",
            "title": "Name",
            "description": "Population identifier.",
            "examples": [
              "United_States"
            ]
          },
          "display_name": {
            "type": "string",
            "title": "Display Name",
            "description": "Human-readable name.",
            "examples": [
              "United States"
            ]
          },
          "total_population": {
            "type": "integer",
            "title": "Total Population",
            "description": "Total population size.",
            "examples": [
              338120586
            ]
          },
          "age_groups": {
            "additionalProperties": {
              "type": "integer"
            },
            "type": "object",
            "title": "Age Groups",
            "description": "Default 5-group aggregation (epydemix `mistry_2021`/`prem_2021` coarse groups). Keys are in age-ascending order.",
            "examples": [
              {
                "0-4": 18608139,
                "20-49": 132780169,
                "5-19": 63540783,
                "50-64": 63172279,
                "65+": 60019216
              }
            ]
          },
          "age_distribution": {
            "additionalProperties": {
              "type": "integer"
            },
            "type": "object",
            "title": "Age Distribution",
            "description": "Raw per-single-year population counts from the upstream `age_distribution.csv`. Keys are age labels (e.g. `\"0\"`..`\"83\"`, `\"84+\"`) in ascending order.",
            "examples": [
              {
                "0": 18608139,
                "1": 18500000,
                "2": 18400000,
                "83": 900000,
                "84+": 3200000
              }
            ]
          },
          "contact_sources": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Contact Sources",
            "description": "Available contact matrix sources.",
            "examples": [
              [
                "prem_2017",
                "prem_2021",
                "mistry_2021"
              ]
            ]
          },
          "default_contact_source": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Default Contact Source",
            "description": "Default contact source for this population.",
            "examples": [
              "mistry_2021"
            ]
          },
          "available_layers": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Available Layers",
            "description": "Available contact layers (e.g. home, work, school, community).",
            "examples": [
              [
                "home",
                "work",
                "school",
                "community"
              ]
            ]
          }
        },
        "type": "object",
        "required": [
          "name",
          "display_name",
          "total_population",
          "age_groups",
          "age_distribution",
          "contact_sources",
          "available_layers"
        ],
        "title": "PopulationDetail",
        "description": "Detailed information about a population."
      },
      "PopulationListResponse": {
        "properties": {
          "populations": {
            "items": {
              "$ref": "#/components/schemas/PopulationSummary"
            },
            "type": "array",
            "title": "Populations"
          },
          "total": {
            "type": "integer",
            "title": "Total",
            "description": "Total number of populations.",
            "examples": [
              152
            ]
          }
        },
        "type": "object",
        "required": [
          "populations",
          "total"
        ],
        "title": "PopulationListResponse",
        "description": "Response for listing all available populations."
      },
      "PopulationMetadata": {
        "properties": {
          "name": {
            "type": "string",
            "title": "Name",
            "description": "Population identifier.",
            "examples": [
              "United_States"
            ]
          },
          "contacts_source": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Contacts Source",
            "description": "Resolved contact matrix source actually used.",
            "examples": [
              "mistry_2021"
            ]
          },
          "layers": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Layers",
            "description": "Resolved contact layers actually used.",
            "examples": [
              [
                "home",
                "work",
                "school",
                "community"
              ]
            ]
          },
          "age_group_mapping": {
            "anyOf": [
              {
                "additionalProperties": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Age Group Mapping",
            "description": "Custom age group aggregation, echoed back if the request supplied one.",
            "examples": [
              {
                "0-19": [
                  "0-4",
                  "5-9",
                  "10-14",
                  "15-19"
                ],
                "20+": [
                  "20-24",
                  "25-29",
                  "30-34"
                ]
              }
            ]
          },
          "total": {
            "type": "integer",
            "title": "Total",
            "description": "Total population size.",
            "examples": [
              338120586
            ]
          },
          "age_groups": {
            "additionalProperties": {
              "type": "integer"
            },
            "type": "object",
            "title": "Age Groups",
            "description": "Age group label to population count, e.g. `{\"0-4\": 18608139}`. Keys are in model (age-ascending) order.",
            "examples": [
              {
                "0-4": 18608139,
                "20-49": 132780169,
                "5-19": 63540783,
                "50-64": 63172279,
                "65+": 60019216
              }
            ]
          }
        },
        "type": "object",
        "required": [
          "name",
          "total",
          "age_groups"
        ],
        "title": "PopulationMetadata",
        "description": "Population section of simulation metadata. Mirrors the `population` section of the request and adds resolved/derived values."
      },
      "PopulationSummary": {
        "properties": {
          "name": {
            "type": "string",
            "title": "Name",
            "description": "Population identifier (e.g., 'United_States')",
            "examples": [
              "United_States"
            ]
          },
          "display_name": {
            "type": "string",
            "title": "Display Name",
            "description": "Human-readable name",
            "examples": [
              "United States"
            ]
          },
          "total_population": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Total Population",
            "description": "Total population size",
            "examples": [
              338120586
            ]
          },
          "available_contact_sources": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Available Contact Sources",
            "description": "Available contact matrix sources",
            "examples": [
              [
                "prem_2017",
                "prem_2021",
                "mistry_2021"
              ]
            ]
          }
        },
        "type": "object",
        "required": [
          "name",
          "display_name"
        ],
        "title": "PopulationSummary",
        "description": "Summary information for a population."
      },
      "PresetInfo": {
        "properties": {
          "name": {
            "type": "string",
            "title": "Name",
            "description": "Preset name (e.g., 'SIR', 'SEIR')",
            "examples": [
              "SIR"
            ]
          },
          "description": {
            "type": "string",
            "title": "Description",
            "description": "Description of the model.",
            "examples": [
              "Susceptible-Infected-Recovered compartmental model."
            ]
          },
          "compartments": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Compartments",
            "description": "Compartment names.",
            "examples": [
              [
                "Susceptible",
                "Infected",
                "Recovered"
              ]
            ]
          },
          "parameters": {
            "additionalProperties": {
              "type": "number"
            },
            "type": "object",
            "title": "Parameters",
            "description": "Default parameter values.",
            "examples": [
              {
                "recovery_rate": 0.1,
                "transmission_rate": 0.3
              }
            ]
          },
          "transitions": {
            "items": {
              "additionalProperties": true,
              "type": "object"
            },
            "type": "array",
            "title": "Transitions",
            "description": "Transition definitions.",
            "examples": [
              [
                {
                  "kind": "mediated",
                  "params": [
                    "transmission_rate",
                    "Infected"
                  ],
                  "source": "Susceptible",
                  "target": "Infected"
                },
                {
                  "kind": "spontaneous",
                  "params": [
                    "recovery_rate"
                  ],
                  "source": "Infected",
                  "target": "Recovered"
                }
              ]
            ]
          }
        },
        "type": "object",
        "required": [
          "name",
          "description",
          "compartments",
          "parameters",
          "transitions"
        ],
        "title": "PresetInfo",
        "description": "Information about a predefined epidemic model."
      },
      "PresetsListResponse": {
        "properties": {
          "presets": {
            "items": {
              "$ref": "#/components/schemas/PresetInfo"
            },
            "type": "array",
            "title": "Presets"
          }
        },
        "type": "object",
        "required": [
          "presets"
        ],
        "title": "PresetsListResponse",
        "description": "Response listing all available model presets."
      },
      "SimulationConfig": {
        "properties": {
          "start_date": {
            "type": "string",
            "title": "Start Date",
            "description": "Start date in `YYYY-MM-DD` format."
          },
          "end_date": {
            "type": "string",
            "title": "End Date",
            "description": "End date in `YYYY-MM-DD` format."
          },
          "Nsim": {
            "type": "integer",
            "maximum": 1000.0,
            "minimum": 1.0,
            "title": "Nsim",
            "description": "Number of simulation runs.",
            "default": 10
          },
          "dt": {
            "type": "number",
            "exclusiveMinimum": 0.0,
            "title": "Dt",
            "description": "Time step in days.",
            "default": 1.0
          },
          "seed": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Seed",
            "description": "Random seed for reproducibility."
          },
          "resample_frequency": {
            "type": "string",
            "title": "Resample Frequency",
            "description": "Resampling frequency. `D` = daily, `W` = weekly, `M` = monthly.",
            "default": "D"
          }
        },
        "type": "object",
        "required": [
          "start_date",
          "end_date"
        ],
        "title": "SimulationConfig",
        "description": "Simulation execution parameters."
      },
      "SimulationMetadata": {
        "properties": {
          "model": {
            "$ref": "#/components/schemas/ModelMetadata",
            "description": "Model configuration used for the run."
          },
          "population": {
            "$ref": "#/components/schemas/PopulationMetadata",
            "description": "Resolved population configuration and derived counts."
          },
          "simulation": {
            "$ref": "#/components/schemas/SimulationRunMetadata",
            "description": "Simulation execution parameters used for the run."
          }
        },
        "type": "object",
        "required": [
          "model",
          "population",
          "simulation"
        ],
        "title": "SimulationMetadata",
        "description": "Metadata about the simulation run, grouped to mirror the request shape."
      },
      "SimulationRequest": {
        "properties": {
          "model": {
            "$ref": "#/components/schemas/ModelConfig",
            "description": "Epidemic model configuration."
          },
          "population": {
            "$ref": "#/components/schemas/PopulationConfig"
          },
          "simulation": {
            "$ref": "#/components/schemas/SimulationConfig"
          },
          "initial_conditions": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/InitialConditionsConfig"
              },
              {
                "type": "null"
              }
            ],
            "description": "Initial conditions. Defaults to a small infected fraction."
          },
          "interventions": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/InterventionConfig"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Interventions",
            "description": "Contact reduction interventions to apply."
          },
          "parameter_overrides": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/ParameterOverrideConfig"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Parameter Overrides",
            "description": "Parameter overrides during specific time periods."
          },
          "output": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/OutputConfig"
              },
              {
                "type": "null"
              }
            ],
            "description": "Output configuration. Defaults to all compartments/transitions with standard quantiles."
          }
        },
        "type": "object",
        "required": [
          "model",
          "population",
          "simulation"
        ],
        "title": "SimulationRequest",
        "description": "Complete simulation request."
      },
      "SimulationResponse": {
        "properties": {
          "simulation_id": {
            "type": "string",
            "title": "Simulation Id",
            "description": "Unique identifier for this simulation run.",
            "examples": [
              "sim_c9617343b215"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "completed",
              "failed"
            ],
            "title": "Status",
            "description": "Whether the simulation completed successfully.",
            "examples": [
              "completed"
            ]
          },
          "metadata": {
            "$ref": "#/components/schemas/SimulationMetadata",
            "description": "Metadata about the simulation run."
          },
          "results": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/SimulationResultsData"
              },
              {
                "type": "null"
              }
            ],
            "description": "Simulation results. Null if status is `failed`."
          },
          "error": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Error",
            "description": "Error message if status is `failed`.",
            "examples": [
              null
            ]
          }
        },
        "type": "object",
        "required": [
          "simulation_id",
          "status",
          "metadata"
        ],
        "title": "SimulationResponse",
        "description": "Complete simulation response."
      },
      "SimulationResultsData": {
        "properties": {
          "compartments": {
            "$ref": "#/components/schemas/CompartmentResults"
          },
          "transitions": {
            "$ref": "#/components/schemas/TransitionResults"
          },
          "summary": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/SummaryResults"
              },
              {
                "type": "null"
              }
            ]
          },
          "trajectories": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/TrajectoriesResults"
              },
              {
                "type": "null"
              }
            ],
            "description": "Raw trajectory data. Only present if `include_trajectories` was true."
          }
        },
        "type": "object",
        "required": [
          "compartments",
          "transitions"
        ],
        "title": "SimulationResultsData",
        "description": "All simulation results."
      },
      "SimulationRunMetadata": {
        "properties": {
          "start_date": {
            "type": "string",
            "title": "Start Date",
            "description": "Simulation start date.",
            "examples": [
              "2024-01-01"
            ]
          },
          "end_date": {
            "type": "string",
            "title": "End Date",
            "description": "Simulation end date.",
            "examples": [
              "2024-06-01"
            ]
          },
          "Nsim": {
            "type": "integer",
            "title": "Nsim",
            "description": "Number of simulation runs.",
            "examples": [
              10
            ]
          },
          "dt": {
            "type": "number",
            "title": "Dt",
            "description": "Time step in days.",
            "examples": [
              1.0
            ]
          },
          "seed": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Seed",
            "description": "Random seed used.",
            "examples": [
              42
            ]
          },
          "resample_frequency": {
            "type": "string",
            "title": "Resample Frequency",
            "description": "Resampling frequency.",
            "examples": [
              "D"
            ]
          }
        },
        "type": "object",
        "required": [
          "start_date",
          "end_date",
          "Nsim",
          "dt",
          "resample_frequency"
        ],
        "title": "SimulationRunMetadata",
        "description": "Simulation section of metadata. Mirrors the `simulation` section of the request."
      },
      "StatisticQuantiles": {
        "properties": {
          "quantiles": {
            "additionalProperties": {
              "type": "number"
            },
            "type": "object",
            "title": "Quantiles",
            "description": "Quantile to value mapping, e.g. `{\"0.025\": ..., \"0.5\": ..., \"0.975\": ...}`.",
            "examples": [
              {
                "0.025": 213000000.0,
                "0.5": 215000000.0,
                "0.975": 217000000.0
              }
            ]
          }
        },
        "type": "object",
        "required": [
          "quantiles"
        ],
        "title": "StatisticQuantiles",
        "description": "Quantile values for a summary statistic, keyed by quantile string (e.g. `0.5`)."
      },
      "SummaryConfig": {
        "properties": {
          "peak_compartments": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Peak Compartments",
            "description": "By default, peak statistics are returned for every compartment. Pass a list to narrow the response, e.g. `[\"Infected\"]`, or pass `[]` to explicitly skip returning this summary. Per-quantile peak values and the median-trajectory peak date are returned for each included age group."
          },
          "total_transitions": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Total Transitions",
            "description": "By default, cumulative totals are returned for every transition. Pass a list to narrow the response, e.g. `[\"Susceptible_to_Infected\"]`, or pass `[]` to explicitly skip returning this summary. Per-quantile total event counts are returned for each included age group."
          }
        },
        "type": "object",
        "title": "SummaryConfig",
        "description": "Configuration for summary statistics.\n\nSummary is returned by default for every compartment and transition, broken\ndown by age group and by the quantiles requested in `output.quantiles`.\nUse the fields below to narrow that down."
      },
      "SummaryResults": {
        "properties": {
          "peaks": {
            "anyOf": [
              {
                "additionalProperties": {
                  "additionalProperties": {
                    "$ref": "#/components/schemas/PeakStatistic"
                  },
                  "type": "object"
                },
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Peaks",
            "description": "Peak statistics: `compartment -> age_group -> {quantiles, peak_date}`.",
            "examples": [
              {
                "Infected": {
                  "0-4": {
                    "peak_date": "2024-02-13",
                    "quantiles": {
                      "0.025": 410000.0,
                      "0.5": 420000.0,
                      "0.975": 435000.0
                    }
                  },
                  "total": {
                    "peak_date": "2024-02-14",
                    "quantiles": {
                      "0.025": 12200000.0,
                      "0.5": 12400000.0,
                      "0.975": 12600000.0
                    }
                  }
                }
              }
            ]
          },
          "totals": {
            "anyOf": [
              {
                "additionalProperties": {
                  "additionalProperties": {
                    "$ref": "#/components/schemas/StatisticQuantiles"
                  },
                  "type": "object"
                },
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Totals",
            "description": "Cumulative transition totals: `transition -> age_group -> {quantiles}`.",
            "examples": [
              {
                "Susceptible_to_Infected": {
                  "0-4": {
                    "quantiles": {
                      "0.025": 11700000.0,
                      "0.5": 11800000.0,
                      "0.975": 11900000.0
                    }
                  },
                  "total": {
                    "quantiles": {
                      "0.025": 213000000.0,
                      "0.5": 215000000.0,
                      "0.975": 217000000.0
                    }
                  }
                }
              }
            ]
          }
        },
        "type": "object",
        "title": "SummaryResults",
        "description": "Summary statistics of the simulation."
      },
      "TrajectoriesResults": {
        "properties": {
          "dates": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Dates",
            "description": "Dates corresponding to values.",
            "examples": [
              [
                "2024-01-01",
                "2024-01-02",
                "2024-01-03"
              ]
            ]
          },
          "runs": {
            "items": {
              "$ref": "#/components/schemas/TrajectoryData"
            },
            "type": "array",
            "title": "Runs",
            "description": "Data for each simulation run."
          }
        },
        "type": "object",
        "required": [
          "dates",
          "runs"
        ],
        "title": "TrajectoriesResults",
        "description": "Raw trajectories from all simulation runs."
      },
      "TrajectoryData": {
        "properties": {
          "compartments": {
            "additionalProperties": {
              "additionalProperties": {
                "items": {
                  "type": "number"
                },
                "type": "array"
              },
              "type": "object"
            },
            "type": "object",
            "title": "Compartments",
            "description": "Compartment values: `{compartment: {age_group: [values]}}`.",
            "examples": [
              {
                "Infected": {
                  "total": [
                    621391.0,
                    3043170.0,
                    5812500.0
                  ]
                },
                "Recovered": {
                  "total": [
                    0.0,
                    20000.0,
                    145000.0
                  ]
                },
                "Susceptible": {
                  "total": [
                    337330136.0,
                    334286966.0,
                    331103421.0
                  ]
                }
              }
            ]
          },
          "transitions": {
            "additionalProperties": {
              "additionalProperties": {
                "items": {
                  "type": "number"
                },
                "type": "array"
              },
              "type": "object"
            },
            "type": "object",
            "title": "Transitions",
            "description": "Transition counts: `{transition: {age_group: [values]}}`.",
            "examples": [
              {
                "Infected_to_Recovered": {
                  "total": [
                    0.0,
                    20000.0,
                    145000.0
                  ]
                },
                "Susceptible_to_Infected": {
                  "total": [
                    621391.0,
                    3043170.0,
                    5812500.0
                  ]
                }
              }
            ]
          }
        },
        "type": "object",
        "required": [
          "compartments",
          "transitions"
        ],
        "title": "TrajectoryData",
        "description": "Raw trajectory data for a single simulation run."
      },
      "TransitionConfig": {
        "properties": {
          "source": {
            "type": "string",
            "title": "Source",
            "description": "Source compartment name."
          },
          "target": {
            "type": "string",
            "title": "Target",
            "description": "Target compartment name."
          },
          "kind": {
            "type": "string",
            "enum": [
              "spontaneous",
              "mediated"
            ],
            "title": "Kind",
            "description": "Type of transition.\n- `spontaneous`: rate is a fixed parameter (e.g. recovery, incubation).\n- `mediated`: rate depends on the proportion of a mediating compartment (e.g. transmission driven by contact with infectious individuals)."
          },
          "params": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Params",
            "description": "Parameter name(s) governing this transition.\n- Spontaneous: a single parameter name (the rate), e.g. `[\"recovery_rate\"]`.\n- Mediated: a two-element list `[rate_param, mediating_compartment]`, e.g. `[\"transmission_rate\", \"I\"]`.\nA single string is also accepted and will be wrapped into a list."
          }
        },
        "type": "object",
        "required": [
          "source",
          "target",
          "kind",
          "params"
        ],
        "title": "TransitionConfig",
        "description": "A single transition between compartments. Transitions define how individuals move between compartments, either spontaneously at a fixed rate or mediated by contact with another compartment."
      },
      "TransitionResults": {
        "properties": {
          "dates": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Dates",
            "description": "Dates corresponding to values.",
            "examples": [
              [
                "2024-01-01",
                "2024-01-02",
                "2024-01-03"
              ]
            ]
          },
          "data": {
            "additionalProperties": {
              "additionalProperties": {
                "additionalProperties": {
                  "items": {
                    "type": "number"
                  },
                  "type": "array"
                },
                "type": "object"
              },
              "type": "object"
            },
            "type": "object",
            "title": "Data",
            "description": "Nested structure: `transition -> age_group -> quantile -> [values]`.",
            "examples": [
              {
                "Susceptible_to_Infected": {
                  "total": {
                    "0.025": [
                      621344.45,
                      3041835.25,
                      5800000.0
                    ],
                    "0.5": [
                      621391.0,
                      3043170.0,
                      5812500.0
                    ],
                    "0.975": [
                      621437.55,
                      3044504.75,
                      5825000.0
                    ]
                  }
                }
              }
            ]
          }
        },
        "type": "object",
        "required": [
          "dates",
          "data"
        ],
        "title": "TransitionResults",
        "description": "Transition count quantiles."
      },
      "ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "title": "ValidationError"
      }
    }
  },
  "tags": [
    {
      "name": "Simulations",
      "description": "Run stochastic epidemic simulations using preset or custom compartmental models."
    },
    {
      "name": "Populations",
      "description": "Browse available populations, age group demographics, and contact matrices."
    },
    {
      "name": "Model Presets",
      "description": "List built-in epidemic models (SIR, SEIR, SIS) with their compartments, parameters, and transitions."
    }
  ]
}
